{% load static %}
<!-- footer start -->
            <div class="row bg-dark footer py-5 mt-5">
                <div class="col-sm-12 text-center text-light">
                    <img src="{% static '/images/logo.jpg' %}" alt="">
                    <h4>About Us</h4>
                    <p style="text-align: justify;">E-commerce is revolutionizing the way we all shop in India. Why do you want to hop from one store to another in search of the latest phone when you can find it on the Internet in a single click? Not only mobiles. Softpro Electronics Shopping System houses everything you can possibly imagine, from Trending electronics like laptops, tablets, smartphones, and mobile accessories, appliances that make your life easy like washing machines, TVs, ACs, mixer grinder juicers and other time-saving kitchen and small appliances.</p>

                    <p>&copy; copyright 2022-2023 all right reserved. designed and developed by <i class="text-warning">@Ritish Tripathi</i></p>
                </div>
            </div>
            <!-- footer end -->
